/* Hexxagon [for the web]
 * 
 * Original game by  Argo Games
 *    This clone by  Art McBain
 *
 * Hexxagon 1 and 2 are considered abandonware:
 *   http://www.abandonia.com/en/games/348/Hexxagon.html
 * 
 * 
 * Icons provided by http://p.yusukekamiyamane.com/ from the Fugue set.
 *   License is CC-BY ( http://creativecommons.org/licenses/by/3.0/ )
 * 
 * Cursors provided by Marz {Matt} ( http://www.rw-designer.com/cursor-set/blue-insanity-d )
 *   License is CC-BY ( http://creativecommons.org/licenses/by/3.0/ )
 *
 * Source code:
 *   https://bitbucket.org/AMcBain/hexxagon
 */

html {
  font-family: sans-serif;
  background-color: #3c6e99;
}

body {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  overflow: hidden;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #333;
  cursor: url('images/cursor-default.png') 1 1, default;
}

body, #dialog, #menu, #howto {
  border: 3px solid #ccc;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

h1 {
  margin: -.2em .3em 0;
}

h2 {
  margin: -.1em 0;
}

h1, h2 {
  font-family: 'Permanent Marker', arial, sans-serif;
  color: white;
}

footer aside {
  position: absolute;
  bottom: 7px;
  left: 7px;
  font-size: x-small;
  z-index: 42;
}

aside, aside a {
  color: #666;
}

aside p {
  margin: 0;
}

#options {
  position: absolute;
  top: .25em;
  right: 0;
  color: white;
}

#menu {
  opacity: 0;
}

#menu section section, #menu section nav {
  text-align: center;
}

#menu section section {
  display: inline-block;
  padding-right: .5em;
}

#menu section section + section {
  margin-right: .5em;
  padding-right: .5em;
  border-right: 1px dashed #ccc;
}

#menu section nav {
  display: inline-table;
  vertical-align: top;
}

#menu section nav ul {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
}

#menu ul, #options ul {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

#options ul {
  margin-top: 0;
}

#menu li, #options li {
  margin-bottom: 4px;
  padding-right: 2px;
  padding-left: 28px;
  line-height: 24px;
  text-align: left;
  background-position: left -.05em;
  background-repeat: no-repeat;
  cursor: url('images/cursor-pointer.png') 1 1, pointer !important;
  cursor: pointer;
}

#options li {
  text-align: right;
}

#menu nav li {
  margin: 0 -1.5em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#menu nav li, #options li {
  padding-left: 0;
}

#menu nav li:active, #options li:active {
  color: #333;
  background-color: #999;
}

#menu nav li, #options li:active {
  outline: 2px solid #ccc;
  outline-offset: 1px;
  -moz-outline-radius: 2px;
  outline-radius: 2px;
}

#menu li.selected {
  color: #333;
  outline: 2px solid #ccc;
  outline-offset: 1px;
  -moz-outline-radius: 2px;
  outline-radius: 2px;
  background-color: #999;
}

#menu li.selected, #menu li.disabled {
  cursor: url('images/cursor-default.png') 1 1, default !important;
  cursor: default;
}

#menu li.disabled {
  opacity: .4;
}

#dialog, #menu, #howto {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -136px;
  color: white;
  background-color: #666;
}

#dialog h1, #menu h1 {
  text-align: center;
}

#howto {
  width: 500px;
}

#howto header {
  margin-bottom: 1em;
}

#howto h2 {
  font-size: 1.3em;
}

#howto section {
  margin-left: .45em;
}

#howto p {
  margin: .5em 0 .5em .5em;
}

#howto aside {
  float: right;
  width: 86px;
  margin-left: .45em;
}

#dialog.closeable, #howto {
  padding-right: 19px;
}

#dialog header > img, #howto header img {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: url('images/cursor-pointer.png') 1 1, pointer !important;
  cursor: pointer;
}

#dialog.closeable header > img, #howto header img {
  display: block;
}

#dialog header p img {
  vertical-align: middle;
  margin-left: 16px;
}

#dialog > section, #menu > section, #options {
  display: block;
  margin: .25em .5em .20em;
  font-size: 1.125em;
}

#board {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  white-space: nowrap;
}

#menu, #dialog, #howto, #board, #options, #scores {
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

#menu.active, #dialog.active, #howto.active, #board.active, #board.active ~ #options, #board.active ~ footer #scores {
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

#board.disabled, #board.disabled ~ #options, #board.disabled ~ footer #scores {
  opacity: .5;
}

#board.ready .hole {
  visibility: hidden;
}

#board section {
  display: inline-block;
  vertical-align: top;
}

#board div {
  position: relative;
}

#board img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

#board .empty {
  visibility: hidden;
}

a, #board .adjacent, #board .jump, .player1 .player1, .player2 .player2 {
  cursor: url('images/cursor-pointer.png') 1 1, pointer !important;
  cursor: pointer;
}

#scores {
  position: absolute;
  right: 7px;
  bottom: 3px;
  left: 7px;
}

#scores section {
  display: block;
  position: relative;
  overflow: hidden;
  padding-right: 7px;
  border-right: 1px solid transparent;
}

#board.player1 ~ footer #scores section:first-child, #board.player2 ~ footer #scores section:last-child {
  border-color: #ccc;
}

#scores div {
  position: absolute;
  top: 3px;
  right: 34px;
  bottom: 3px;
  font-weight: bold;
}

#scores span {
  position: absolute;
  right: 3px;
}

#scores img {
  float: right;
}
